.counter-viewer {
	color: maroon;
	font-size: 25pt;
	font-weight: 400;
	font-family: fantasy;
}

.jsf2-portlet {
	width: 100%;
	padding-left: 4px;
	padding-right: 4px;
}

.portlet-msg-error {
	font-style: italic;
	font-weight: bold;
	margin: 1px 0px 0px 0px;
	padding: 1px 5px 1px 24px;
}

.portlet-msg-info {
	font-style: italic;
	margin: 1px 0px 0px 0px;
	padding: 1px 5px 1px 24px;
}

